@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, :root{
  height: 100%;
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.scene{
    overflow: hidden;
    perspective: 10vmin;
}

.scene div{
    width: 1.5vmin;
    height: 1.5vmin;
    transform: 
    translateZ(-100vmin)
    rotateY(90deg)
    rotateX(var(--rx))
    translateZ(var(--x))
    scaleX(1);
    position: absolute;
    top: 0%;
    left: 0%;
    animation:  animate 1.5s infinite ease-in;
    background: #fff;
    box-shadow: 0 0 20px rgb(10, 239, 255);
}

@keyframes animate {
    0%, 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: 
        translateZ(0vmin)
        rotateY(90deg)
        rotateX(var(--rx))
        translateZ(var(--x))
        scaleX(6);
    }
}

.name {
  filter: drop-shadow(0px 3px 15px rgba(255, 255, 255, 0.9))
}
.name2 {
  filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 0.9))
}